/* Custom Styles */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

/* Typography */
body, input, optgroup, select, textarea {
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.title {
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.button.is-primary {
	background-color: #008dd5;
	color: #fff;
}
.button.is-primary.is-outlined {
	background-color: transparent;
	border-color: #008dd5;
	color: inherit;
}
.button.is-secondary {
	background-color: #E9D985;
	color: #000;
}
.has-background-secondary {
	background-color: #373f51;
}
.has-background-tertiary {
	background-color: #dfbbb1;
}
a {
	color: #008dd5;
}
/*
.icon-list .icon,
.icon-grid .icon {
	color: #f56476;
} */
hr {
  height: 1px;
  background-color: #333;
}
.grey-border {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}
.icon-list ul {
	margin-left: 2em;
}
.icon-list li+li {
    margin-top: 1em;
}
.icon-list ul li>div {
	margin-left: 1em;
}
.icon-list ul li::marker {
	font-family:"Font Awesome 6 Free";
	font-weight: 900;
	content: "\f058";
	font-size: 2rem;
}
/*
.icon-list .text-container .title {
  line-height: 1.1;
} */
#ex-header {
	background-color: #BCD8C1;
}
#ex-header.page-header .text-container {
	max-width: 56rem;
}
#ex-header .cell {
	padding: 9rem 0;
}
#ex-header .cell .text-container {
	padding: 0 1.5rem;
}
form .input, 
form .textarea {
	box-shadow: none;
}
/* Contact Form */
#contact-form {
  padding: 2.4rem 2rem;
}
/* Navbar */
.navbar-item img, .navbar-item svg {
	max-height: 35px;
}
.navbar-link:hover, a.navbar-item:hover {
	background-color: transparent;
	color: #008dd5;
}
.navbar-start>.navbar-item, .navbar-start>.navbar-link, .navbar-end>.navbar-item:first-child {
  font-size: 1.3rem; 
  font-weight: 300;
}
.navbar-dropdown .navbar-item {
  font-size: 1.3rem;
}
.navbar-link:not(.is-arrowless):after {
  margin-top: -.475em; 
  border-color: #373f51;
}
.navbar-end a.button.is-rounded {
	border-radius: var(--bulma-radius-rounded) !important;
}
@media screen and (min-width: 1024px) {
    .navbar-start {
      margin-inline-start: auto;
    }
    .navbar.is-spaced .navbar-link, .navbar.is-spaced a.navbar-item {
      border-radius: 0;
    }
}
/* Hero */
.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('../img/digital-marketplace-solutions-for-businesses-and-brands-in-africa.jpg') center center no-repeat;
	background-size: cover;
}
.hero .text-container {
	max-width: 50rem;
}
/* Section Header */
section .section-header {
	max-width: 50rem;
}
/* Stats */
#stats {
	background-color: #BCD8C1;
}
#stats .grid {
	align-items: center;
}
#stats .cell {
	padding: 9rem 0;
}
#stats .cell .text-container {
	padding: 0 1.5rem;
}
.stats-bg {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/ecommerce-insights-at-a-glance.jpg') center center no-repeat;
	background-size: cover;
}
/* About */

/* Features */
#features {
	background-color: #f0f0f0;
}
#features figure.image img {
	width: 5rem;
	height: auto;
}
/* Quote */
#quote {
	background-color: #f0f0f0;
}
#quote .cell {
	padding: 9rem 0;
}
#quote .cell .text-container {
	padding: 1.5rem;
}
#quote .quote-bg {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/ready-to-elevate-your-ecommerce-journey.jpg') center center no-repeat;
	background-size: cover;
}
/* Blog */
#insights-blog .section-header {
	margin-bottom: 3rem;
}
body.insights-blog .page-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/africa-ecommerce-insights-blog.jpg') center center no-repeat;
	background-size: cover;
}
.blog-payment-processing {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/navigating-payment-processing-challenges-in-african-ecommerce.jpg') center center no-repeat;
	background-size: cover;
}
.blog-mobile-commerce {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/the-growth-of-mobile-commerce-in-africa.jpg') center center no-repeat;
	background-size: cover;
}
.blog-customer-trust {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/building-customer-trust-in-african-ecommerce.jpg') center center no-repeat;
	background-size: cover;
}
.blog-data-analytics {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/harnessing-data-analytics-for-ecommerce-success-in-africa.jpg') center center no-repeat;
	background-size: cover;
}
/* Contact CTA */
#contact-cta {
	background-color: #BCD8C1;
}
/* Footer */
#footer {
	background-color: #f9f9f9;
	padding-bottom: 2rem;
}
#footer a {
	color: inherit;
}
#footer .footer-top {
	padding-bottom: 7rem;
}
#footer .footer-bottom {
	padding-top: 1rem;
}
#footer .footer-top ul li {
	padding-bottom: 5px;
}
.footer .footer-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
}
/* Contact */
body.strategy-and-insights .ex-header-bg {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/ecommerce-strategy-and-insights.jpg') center center no-repeat;
	background-size: cover;
}
/* Contact */
body.store-development .ex-header-bg {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/platform-selection-and-store-development.jpg') center center no-repeat;
	background-size: cover;
}
/* Contact */
body.management-and-optimization .ex-header-bg {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/ongoing-management-and-optimization.jpg') center center no-repeat;
	background-size: cover;
}
/* Contact */
body.contact-us .page-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/connect-with-our-sales-team-today.jpg') center center no-repeat;
	background-size: cover;
}
/* Privacy Policy */
body.privacy-policy .page-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/privacy-policy.jpg') center center no-repeat;
	background-size: cover;
}
/* Terms of Service */
body.terms-of-service .page-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/terms-of-service.jpg') center center no-repeat;
	background-size: cover;
}

@media screen and (min-width: 1024px) {
	#stats .cell,
	#quote .cell,
	#ex-header .cell {
		padding: 9rem 4.5rem;
	}
	#stats .cell .text-container,
	#quote .cell .text-container,
	#ex-header .cell .text-container {
		padding: 0 2rem;
	}
}
