/* Custom Styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Typography */
body, button, input, optgroup, select, textarea {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}
.title {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* Form */
.input, .select select, .textarea {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #000;
}
.input, .textarea {
	box-shadow: none;
}
/* Navbar */
.navbar-item img, .navbar-item svg {
	max-height: 45px;
}
.navbar-item, .navbar-link {
  font-size: 1.3rem;
  font-weight: 400;
}
.navbar-link:not(.is-arrowless):after {
  margin-top: -.475em; 
}
@media screen and (min-width: 1024px) {
    .navbar-start {
      margin-inline-start: auto;
    }
}
/* Hero */
.hero {
	background:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/hero.jpg') center center no-repeat;
	background-size: cover;
}
.hero .text-container {
	max-width: 45rem;
}
/* Section Header */
section .section-header {
	max-width: 40rem;
}
/* Stats */
#stats {
	background:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/hero.jpg') center center no-repeat;
	background-size: cover;
}
/* Features */

/* CTA */
#cta {
	background:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/hero.jpg') center center no-repeat;
	background-size: cover;
}
/* Blog */
#blog .section-header {
	margin-bottom: 3rem;
}
#blog1 {
	background:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/hero.jpg') center center no-repeat;
	background-size: cover;
}
#blog2 {
	background:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/hero.jpg') center center no-repeat;
	background-size: cover;
}
#blog3 {
	background:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/hero.jpg') center center no-repeat;
	background-size: cover;
}
#blog4 {
	background:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/hero.jpg') center center no-repeat;
	background-size: cover;
}
/* Social */
#social {
	background:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/hero.jpg') center center no-repeat;
	background-size: cover;
}
/* Footer */
#footer .email {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#footer ul>li {
  padding-top: .25rem;
  padding-bottom: .25rem; 
}
/* Contact */
.contact .ex-header {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/hero.jpg') top center no-repeat;
	background-size: cover;
}
.contact .box {
	padding: 3rem 2rem;
}
/* Modal */
@media screen and (min-width: 769px) {
	.modal-card, .modal-content {
		width: 1150px;
	}
}
