/* Custom Styles */

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

/* Typography */
body, input, optgroup, select, textarea {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.title {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.button.is-primary {
	background-color: #008dd5;
	color: #fff;
}
.button.is-primary.is-outlined {
	background-color: transparent;
	border-color: #008dd5;
	color: inherit;
}
.has-background-secondary {
	background-color: #373f51;
}
.has-background-tertiary {
	background-color: #dfbbb1;
}
a {
	color: #008dd5;
}
/*
.icon-list .icon,
.icon-grid .icon {
	color: #f56476;
} */
hr {
  height: 1px;
  background-color: #333;
}
.grey-border {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}
.icon-list ul {
	margin-left: 2em;
}
.icon-list li+li {
    margin-top: 1em;
}
.icon-list ul li>div {
	margin-left: 1em;
}
.icon-list ul li::marker {
	font-family:"Font Awesome 6 Free";
	font-weight: 900;
	content: "\f058";
	font-size: 2rem;
}
/*
.icon-list .text-container .title {
  line-height: 1.1;
} */
.ex-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/ex-header.png') center center no-repeat;
	background-size: cover;
}
form .input, 
form .textarea {
	box-shadow: none;
}
/* Contact Form */
#contact-form {
  padding: 2.4rem 2rem;
}
/* Navbar */
.navbar-item img, .navbar-item svg {
	max-height: 35px;
}
.navbar-link:hover, a.navbar-item:hover {
	background-color: transparent;
	color: #008dd5;
}
.navbar-start>.navbar-item, .navbar-start>.navbar-link, .navbar-end>.navbar-item:first-child {
  font-size: 1.3rem; 
  font-weight: 300;
}
.navbar-dropdown .navbar-item {
  font-size: 1.3rem;
}
.navbar-link:not(.is-arrowless):after {
  margin-top: -.475em; 
  border-color: #373f51;
}
.navbar-burger {
	color: #fff;
	background-color: #008dd5;
	border-radius: 0;
    margin-inline-end: .75rem;
}
.navbar-burger:hover {
	background-color: #008dd5;
}
@media screen and (min-width: 1024px) {
    .navbar-start {
      margin-inline-start: auto;
    }
    .navbar.is-spaced .navbar-link, .navbar.is-spaced a.navbar-item {
      border-radius: 0;
    }
}
/* Hero */
.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/hero-bg.jpg') center center no-repeat;
	background-size: cover;
}
.hero .text-container {
	max-width: 46rem;
}
/* Section Header */
section .section-header {
	max-width: 46rem;
}
/* Stats */
#stats {
	background: linear-gradient(270deg, #000, #333);
}
/* About */

/* Features */
#features figure.image img {
	width: 6rem;
	height: auto;
}
/* CTA */
#cta {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/quote-cta.jpg') center center no-repeat;
	background-size: cover;
}
/* Blog */
#insights-blog .section-header {
	margin-bottom: 3rem;
}
body.insights-blog .ex-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/header-insights-blog.jpg') center center no-repeat;
	background-size: cover;
}
.blog-payment-processing {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/blog-payments.jpg') center center no-repeat;
	background-size: cover;
}
.blog-mobile-commerce {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/blog-mobile.jpg') center center no-repeat;
	background-size: cover;
}
.blog-customer-trust {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/blog-trust.jpg') center center no-repeat;
	background-size: cover;
}
.blog-data-analytics {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/blog-analytics.jpg') center center no-repeat;
	background-size: cover;
}
/* Newsletter */
#newsletter {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/newsletter.jpg') center center no-repeat;
	background-size: cover;
}
/* Footer */
#footer {
	background-color: #fff;
	padding-bottom: 2rem;
}
#footer a {
	color: inherit;
}
#footer .footer-top {
	padding-bottom: 17rem;
}
#footer .footer-bottom {
	padding-top: 1rem;
}
#footer .footer-top ul li {
	padding-bottom: 5px;
}
.footer .footer-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
}
/* Contact */
body.strategy-and-insights .ex-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/card-insights.jpg') center center no-repeat;
	background-size: cover;
}
/* Contact */
body.store-development .ex-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/card-development.jpg') center center no-repeat;
	background-size: cover;
}
/* Contact */
body.management-and-optimization .ex-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/card-optimization.jpg') center center no-repeat;
	background-size: cover;
}
/* Contact */
body.contact-us .ex-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/header-contact-us.jpg') center center no-repeat;
	background-size: cover;
}
/* Privacy Policy */
body.privacy-policy .ex-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/header-privacy-policy.jpg') center center no-repeat;
	background-size: cover;
}
/* Terms of Service */
body.terms-of-service .ex-header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../img/header-terms-of-service.jpg') center center no-repeat;
	background-size: cover;
}

/* Modal */
@media screen and (min-width: 769px) {
	#about-us-details .modal-content,
	#our-approach-details .modal-content {
		width: 80%;
	}
}
